/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto+Mono:ital@1&family=Roboto:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: poppins;
}

/* ******************** header ************************* */
#lei{
    color: white;
    font-size: 30px;
    height: 30px;
    font-family: poppins;
}
#logo{
    color: #2433BB;
    font-weight: bold;
}



#nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: #5BADD0;
}
.dropdownmenu {
   
    display: flex;
    justify-content: center;
    margin-top:10px ;
  }
  .dropdownmenu ul {
    display: none;
  }
  .dropdownmenu,
  .dropdownmenu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .dropdownmenu a {
    display: block;
    width: 100%;
    line-height: 35px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px 35px;
    font-family: poppins;
    font-size:18px ;
    font-style: normal;
    font-weight: 700;
    
  }
  .dropdownmenu li {
    position: relative;
  }
  .dropdownmenu li:hover {
    background-color:#52E3DB;
    
  }
  .dropdownmenu a:hover {
    color:black;
  }
  .dropdownmenu li:hover ul {
    display: block;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 100;
    width: 280px;
    background-color:#e9dcdc7b;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.25);
    transition: all 2s ease-out;
    color: fff;
  }
  .dropdownmenu ul a:hover {
    color: black;
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    width: 280px;
    border-left: 2px solid #5BADD0;
    
  }
 .dropdownmenu ul li:hover{
    border-bottom: 1px solid black;
 }
.inscrire
{
    padding: 10px;
    border: 0;
    border-radius: 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: white;
    background-color:  #3546E5;
}

.connecte{
    padding: 10px;
    border: 0;
    border-radius: 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: white;
    transition: all 2s ease-out;
}
.connecte:hover{
    padding: 10px;
    border: 0;
    border-radius: 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: black;
    background-color:  #52E3DB;
}

.banner{
  width: 100%;
  height: 750px;
  background-image: url('../image/autolog.webp') ;
  position: relative;
  background-size:100% 750px;
  background-clip: content-box;
  background-repeat: no-repeat;
  margin-bottom:60px ;
}
.texte{
  position: absolute;
  top: 10%;
  left: 20%;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 2;
  color: #fff;
}
#bienvenue
{
  font-size: 25px;
}

.info{
  text-align: center;
}
/*****************************$$$$$$$$$$$$$ FORMULAIRE   $$$$$$$$$$$$$$ ****************/
.container{ 
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 2%
   }
   .content{
    background-color: white;
    width: 49%;
     height:600px;
     border: 0.5px solid black;
     padding-bottom:5%;
     margin-bottom: 10%;
   }
   img{
     width: 100%;
     height: 25%;
   }
   .form-title{
     padding:10px 40px 0px;
     text-align: center;
   }
  
   form{
     padding:0px 40px;
   }
   input[type=text], [type=email],input[type=password]{
     border: none;
     border-bottom: 1px solid black;
     outline:none;
     width:45%;
     margin: 2% 0;
     padding:10px 0;
   }
   input[type=tel]{
     border: none;
     border-bottom: 1px solid black;
     outline:none;
     margin: 8px 0;
     padding:5px 0;
   }
   
   select{
     border: none;
     border-bottom: 1px solid black;
     outline:none;
     margin: 8px 0;
     padding:5px 0;
     width:45%;
   }
   .beside{
     display:flex;  
     justify-content: space-between;
   }
   #button{
     color:#ffffff;
     background-color: #4caf50;
     height:40px;
     width:25%;
     margin-top:8%;
     cursor: pointer;
     border:none;
     border-radius:2%;
     outline:none;
     text-align:center;
     font-size:16px;
     text-decoration:none;
     -webkit-transition-duration:0.4s;
     transition-duration:0.4s;
   }
   #button:hover{
     background-color:#333333;
   }

/* ******************** Quelle formule choisir ************************* */
/* #QuiSommesNous{
  margin-bottom: 5%;
}

.Sommes{
  text-align: center;
  text-decoration:underline;
  font-size: 50px;
  margin-bottom: 5%;
}
.Ensemble
{
  display: flex;
  width: 912px;
  height: 430px;
  
  margin:0 auto;
  position: relative;
}
.image{
  width: 50%;
  height: 100%;
}
.imgtext
{
  width: 50%;
  height: 100%;
  padding-top: 10%;
}
.imgtext p{
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 10px;
  margin-top: 20px;

}

.imgtext hr{
  width: 414px;
  height: 6px;
  margin-left: 10px;
  background: rgba(88, 163, 196, 0.76);
  border: none;
  margin-top: 20%;
} */



#Sapasse{
  width: 100%;
  margin-top: 4%;
}
.garantie{
  width: 998px;
  height: 846px;
  background: #FFFFFF;
  box-shadow: 1px 1px 3px -10px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  border-collapse:collapse;
}
.noir
{
  width: 998px;
  height: 59px;
  top: 85px;
  background: rgba(217, 217, 217, 0.77);
}
.tiers{
  width: 998px;
  height: 59px;
  background: #fff;
}
.blanc{
  width: 998px;
  height: 59px;
  background: #eee;
}

.croix{
  padding:0 5%;
}
.Quelle{
  text-align: center;
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #2723EA;
  margin-top: 4%;
}

/* ******************** Contact ************************* */
#contact
{
  margin-top: 10%;
}


.footer
{
  width: 100%;
  height: 207px;
  background: rgba(0, 0, 0, 0.71);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 30%
}
.footer div
{
  width: 55px;
  height: 65px;
}

.fa-brands
{
  font-size: 4.5em;
}

/*************************** Medias Queries **************************/

@media screen and (max-width: 1024px){
  .garantie {
    width: auto;
    height: auto;
    margin: 0 auto;

    margin-bottom: 7%;
  }
  .tiers {
    width: auto;
    height: 59px;
    background: #fff;
    font-size: 14px;
  }

  .content {
    background-color: white;
    width: auto;
    height: 460px;
    border: 0.5px solid black;
    padding-bottom: -7%;
    margin-bottom: 10%; 
  }

  input[type=text], [type=email], input[type=password] {
    
    width: 45%;
    margin: 5% 0;
    
}

.dropdownmenu a {
  
  padding: 0px 5px;
}
.dropdownmenu, .dropdownmenu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;

}

.fa-brands
{
  font-size: 2em;
}
}
@media screen and (max-width: 768px){

  .dropdownmenu a {
    display: block;
    width: 100%;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    /* padding: 0px 35px; */
    font-family: poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
}
.inscrire {
  padding: 2px;
  border-radius: 15px;
  font-size: 15px;
}
}
.connecte {
  padding: 14px;
  
  
  font-weight: 700;
  font-size: 15px;
  color: white;
}
  
/*/////////////   Mesias Queries     *******************/
@media  screen and (max-width:1440){
  
}